<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="DefaultConnection" 
           connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=D:\MyFiles\Programs\Books\It_Step\ADO.NET\ADO\Day1\med.mdb"
          providerName="System.Data.OleDb"/>
      <add name="NorthWindConnecthionString"
           connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Northwind;Integrated Security=True"/>
    </connectionStrings>
</configuration>