<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IpTest" value="192.168.1.100"/>
  </appSettings>
  <connectionStrings>
    <add name="CarsDbConnectionString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ShopCars;Integrated Security=True;Timeout=5"/>
  </connectionStrings>
     
</configuration>